configuration {
    modi:            "run,drun";
    show-icons:      true;
    icon-theme:      "Paper";
    sidebar-mode:    false;
    display-drun:    "";
    display-run:     "";
}

@import "/usr/share/rofi/themes/Adapta-Nokto.rasi"
