html {
  font-size: 16px;
  background-color: #222;
  min-height: 100%;
}

body {
  color: #dadada;
  font-family: "Deja Mono", "Roboto Mono", "Consolas", "Lucida Sans Typewriter", "Courier New", "monospace";
  line-height: 1.45;
  margin: 2rem auto 1rem auto;
  margin: 2rem 1rem 1rem auto;
  padding: .25rem;
}

article {
  display: block;
  margin-left: 24%;
}

#toc {
  width: 22%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}
#toc ul {
  list-style: none;
  padding-left: 25px;
}
#toc a {
  color: #2ecc40;
}
#toc a:hover,
#toc a:focus,
#toc a:active {
  color: #01ff70;
}
#toc > ul {
  margin: 50px 0 0 0;
  padding-left: 10px;
}

a,
a:visited {
  color: #2ecc40;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #01ff70;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
h2,
h3,
h4 {
  color: #efefef;
  margin: 1.4rem 0 .5rem;
	font-weight: bold;
  line-height: 1.42;
}

h1 {
  margin-top: 0;
  font-size: 2rem;
}
h1:before {
	font-size: 1.414rem;
	font-weight: normal;
  color: #01ff70;
	content: '# ';
}

h2 {
  font-size: 1.414rem;
}
h2:before {
	font-size: 1.155rem;
	font-weight: normal;
  color: #2ecc40;
	content: '## ';
}

h3 {
  font-size: 1.155rem;
}
h3:before {
	font-size: 1rem;
	font-weight: normal;
	color: #3ea84a;
	content: '### ';
}

h4 {
  font-size: 1rem;
}
h4:before {
	font-size: .894rem;
	font-weight: normal;
	color: #46824d;
	content: '#### ';
}

h5 {
  font-size: .894rem;
  color: #eaeaea;
}
h5:before {
	font-size: .816rem;
	color: #476d4b;
	content: '##### ';
}

h6 {
  font-size: .816rem;
  color: #eaeaea;
}
h6:before {
	color: #425945;
	content: '###### ';
}

blockquote {
  border-left: 3px solid #01ff70;
  padding-left: 1rem;
}

pre {
  background-color: #333;
  padding: .5rem;
  line-height: 1.25;
  overflow-x: auto;
  color: #ccc;
  font-size: 0.85rem;
}

code {
  background-color: #333;
  color: #fc0;
}
pre > code {
  color: #ccc;
}
a > code {
  color: #2ecc40;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

table {
	border-collapse: collapse;
}
table tr:nth-child(even) {
	background-color: #1e1e1e;
}
table th,
table td {
	border: 1px solid #666;
	padding: 4px 6px;
}
